<h1>Ryan Martin's Real Monkey || ITIS 3135 || Home</h1>
<div class="navWrap">
    <nav class="navigate left">
        <a href = "./">Home</a>
        ||
        <a href = "introduction.html">Introduction</a>
        ||
        <a href = "contract.html">Contract</a>
        ||
        <a href = "website_evaluations.html">Website Evaluations</a>
        ||
        <a href = "tables.html">Tables</a>
        ||
        <a href = "./hobby">Hobby</a>
    </nav>
    <nav class="navigate right">
        <a href = "./realmonkeyconglomeracy/about.html">About Real Monkey</a> ||
        <a href = "./rytimecorp.org/index.html">RytimeCorp</a> ||
        <a href = "./stuff/YoUr.-mOm's p4ag3.htm">Crapy Page</a>
    </nav>
</div>
